/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/inicio1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

/* Estilos para los elementos del contenedor */
.item {
    flex: 1 1 200px; /* Ajusta el tamaño mínimo deseado */
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Medias queries para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .item {
        flex: 1 1 100%; /* Ajusta el tamaño mínimo deseado para que ocupe todo el ancho */
    }

    header, footer {
        padding: 20px;
        text-align: center;
    }

    button, .but {
        width: 100%; /* Botones ocupan el 100% del ancho */
        box-sizing: border-box;
    }

    form {
        width: 100%; /* Formularios ocupan el 100% del ancho */
    }

    input, select {
        width: 100%; /* Inputs y selects ocupan el 100% del ancho */
    }
}

/* Medias queries para dispositivos más pequeños (max-width: 480px) */
@media (max-width: 480px) {
    .container {
        padding: 5px;
    }

    .item {
        padding: 10px; /* Reducir el padding en elementos del contenedor */
    }

    button, .but {
        padding: 10px 0; /* Ajustar padding en botones */
    }

    header, footer {
        padding: 10px; /* Reducir padding en encabezado y pie de página */
    }

    h1, h2 {
        font-size: 24px; /* Ajustar tamaño de fuente para encabezados */
    }

    .logo a {
        font-size: 12px; /* Ajustar tamaño de fuente en el logo */
        padding: 8px 15px; /* Ajustar padding en el logo */
    }

    #confirm-purchase {
        padding: 8px 15px; /* Ajustar padding en el botón de confirmación */
    }
}
