/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/inicio1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

/* Estilos para los elementos del contenedor */
.item {
    flex: 1 1 200px; /* Ajusta el tamaño mínimo deseado */
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
/* Estilos para dispositivos móviles */
@media screen and (max-width: 880px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .logo {
        margin-left: 10px;
    }

    .logo a {
        font-size: 16px;
        padding: 10px 5px;
    }

    .product-list {
        padding: 10px;
    }

    .product, .cart table {
        padding: 5px;
        margin-bottom: 5px;
    }

    button, .but {
        width: 100%;
        box-sizing: border-box;
    }

    form {
        width: 100%;
    }

    input, select {
        width: 100%;
    }

    .payment-method {
        flex-direction: column;
    }

    .payment-method div {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 28px;
    }

    .title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    p, p2 {
        padding: 0 10px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    #confirm-purchase {
        padding: 8px 15px;
    }

    header, footer {
        padding: 10px;
        text-align: center;
    }

    .cart th, .cart td {
        padding: 5px;
    }
}

/* Estilos para dispositivos más pequeños (max-width: 480px) */
@media (max-width: 480px) {
    .container {
        padding: 5px;
    }

    .item {
        padding: 10px;
    }

    button, .but {
        padding: 5px 0;
    }

    header, footer {
        padding: 5px;
    }

    h1, h2 {
        font-size: 20px;
    }

    .logo a {
        font-size: 12px;
        padding: 8px 10px;
    }

    #confirm-purchase {
        padding: 5px 10px;
    }
}
