/* Reinicio de estilos */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* Estilos globales */
body {
    text-align: center;
    font-family: "Super Dessert", sans-serif;
    color: rgb(247, 187, 157);
    margin: 0;
    padding: 0;
    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 6px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

p {
    font-family: Arial, sans-serif;
    color: white;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 0 20px;
}

p2 {
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
    padding: 0 20px;
}

/* Encabezado */
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    background: rgb(247, 152, 207);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 10px;
}

.logo a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}

.navbar a {
    display: block;
    padding: 15px 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

/* Color de degradado encabezado */
.navbar a:hover {
    background: rgb(250, 212, 242);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: url(img/spicyfondo.png) no-repeat;
    background-size: cover;
    padding: 4cm 80px;
    
}

.title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 20px;
    border: 2px solid rgb(250, 159, 74);
    color: #fff;
    text-decoration: none;
    background: rgb(253, 193, 250);
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 5px;
}

.content {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Color de redes sociales */
.sau {
    padding: 4cm 80px;
    background: url(img/spicyfondop.png) no-repeat;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box {
    height: 10rem;
    width: 14rem;
    background: rgb(255, 216, 243);
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .5);
    margin: 1rem;
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: rgb(250, 116, 199);
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container .box h3 {
    font-size: 18px;
    color: #f75ba9;
}

.box-container .box p {
    padding: 0 10px;
    font-size: 14px;
}

.about {
    background: url(img/spicyfondo3.png) no-repeat center;
    padding: 3.5cm 20px;
}

.price {
    background: url(img/spicyfondo.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding: 4cm 80px;
}

.contact {
    padding-top: 60px;
    background: url(img/spicyfondo3.png) no-repeat center;
    padding-bottom: 20px;
    padding: 4cm 80px;
}

.Atencion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background: url(img/spicyfondo.png) no-repeat;
    background-size: cover;
    padding: 4cm 80px;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.item {
    flex: 1 1 150px;
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
}

/* Encabezado */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Medias para dispositivos móviles */
@media screen and (max-width: 880px) {
    .hero-content {
        display: block;
    }
}
html {
    scroll-behavior: smooth;
}
